{% extends 'plantilla.html' %}
{% block content %}
<br/>
<h1>Cartelera</h1><br/>


{% for P in peliculas %}

<div class="contenido-pelicula">
	<div class="datos-pelicula">
		<h2>{{P[1]}}</h2><br/>
		<p>{{P[2]}}</p><br/>
		<div class="boton-pelicula">
			<a href="{{url_for('pelicula', id=P[0])}}">
				<img src="{{url_for('static', filename='img/varios/btn-mas-info.jpg')}}" width="120" height="30"
					alt="Ver info" />
			</a>
		</div>
		<div class="boton-pelicula">
			<a href="https://www.youtube.com/v/{{P[3]}}" target=_blank
				onclick="return hs.htmlExpand(this, { objectType: 'iframe' } )">
				<img src="{{url_for('static', filename='img/varios/btn-trailer.jpg')}}" width="120" height="30"
					alt="Ver trailer" />
			</a>
		</div>
	</div>
	<img src='/static/img/pelicula/{{P[0]}}.jpg' width="160" height="226" /><br/><br/>
</div>
{% endfor %}
{% endblock %}