{% extends 'plantilla.html' %}
{% block content %}
<br/>
<h1>Cartelera</h1><br/>

{% for P in pelicula %}
<div class="contenido-pelicula">
	<div class="datos-pelicula">
		<h2>{{P[1]}}</h2>
		<p>{{P[10]}}</p><br/>
		<div class="tabla">
			<div class="fila">
				<div class="celda-titulo">Título Original :</div>
				<div class="celda">{{P[1]}}</div>
			</div>
			<div class="fila">
				<div class="celda-titulo">Estreno :</div>
				<div class="celda">{{P[2]}}</div>
			</div>
			<div class="fila">
				<div class="celda-titulo">Género :</div>
				<div class="celda">{{P[11]}}</div>
			</div>
			<div class="fila">
				<div class="celda-titulo">Director :</div>
				<div class="celda">{{P[3]}}</div>
			</div>
			<div class="fila">
				<div class="celda-titulo">Reparto :</div>
				<div class="celda">{{P[9]}}</div>
			</div>
		</div>
	</div>
	<img src='/static/img/pelicula/{{P[0]}}.jpg' width="160" height="226"><br/><br/>
</div>
<div class="pelicula-video">
	<embed src="https://www.youtube.com/v/{{P[8]}}" type="application/x-shockwave-flash" allowscriptaccess="always"
		allowfullscreen="true" width="580" height="400">
</div>
{% endfor %}
{% endblock %}